.dashboard-container {
  background: linear-gradient(135deg, #c0a7ff, #f8f4ff) !important;
  padding: 2rem 6rem !important;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  max-width: 500px;
  margin: 5rem auto;
  position: relative;


}

.dashboard-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #4a2a8c;
  margin-bottom: 2rem;
}

.history-toggle-button {
  padding: 0.8rem 1.5rem;
  background: linear-gradient(135deg, #c0a7ff, #f8f4ff);
  font-weight: bold;
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow: 0 4px 12px rgba(106, 17, 203, 0.3);
}

.history-toggle-button:hover {
  background-color: #4a2a8c;
  color: #8667c5;
}

/* .category-selector-section,
.prompt-form-section,
.user-prompt-history-section {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(106, 17, 203, 0.2);
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(106, 17, 203, 0.05);
  margin-bottom: 2rem;
} */

.category-selector-section h2,
.prompt-form-section h2,
.user-prompt-history-section h2 {
  color: #4a2a8c;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  text-align: center;
}

.space-y-8 > * + * {
  margin-top: 0.1rem;
}


.logout-button:hover {
  background-color: #7e22ce;
}


.logout-wrapper {
  position: absolute;
  top: 20px;
  right: 0px !important; 
  z-index: 1000;
}

.logout-button {
  padding: 8px 16px;
  background-color: #9333ea;
  color: #4a2a8c;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}